/*
=============== 
Variables
===============
*/
:root {

}

*,
::after,
::before {
  box-sizing: border-box;
  background-color: lightgrey;
}


/*
=============== 
Main
===============
*/

body {
    padding: 0px;
    margin: 0px;
}

.section-center {
  width: auto;
  margin: 0 auto;
  max-width: auto;
  padding: 0rem;
  background-color: transparent;
}

b {
    background-color: transparent;
    color: blue;
}    

p {
    background-color: transparent;
}

a {
    background-color: transparent;
}

div {
    background-color: transparent;
}

h3 {
    text-align: center;
}

h4 {
    text-align: left;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: lightblue;
}

.nav-bar-left {
    display: inline-block;
}

.nav-bar-right {
    display: inline-block; 
}

.display-game-img {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
}

.search-node {
    border: 1px grey;
}

.game-info-section {
    margin: auto;
    background-color: white;
    text-align: center;
}

.form-control {
    display: flex;
}

.form-control input {
    flex-grow: 1;
    padding: 5px;
    margin: 5px;
}

.form-control button {
    padding: 5px;
    margin: 5px;
    background-color: lightblue;
}

.game-info-container {
    background-color: white;
    padding: 1.5rem;
    margin: 3rem;
    border-radius: 0.1rem;
}

.upper-info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: auto ;
    background-color: transparent;
}

.lower-info-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto-fit, auto);
    background-color: transparent;
}

.game-cover {
    grid-row-end: span 10;
    max-width: 100%;
    height: auto;
    background-color: transparent;
}

.small-info-box {
    width: 300px;
    height: 100px;
    text-align: center;
    background-color: transparent;
}

.large-info-box {
    width: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    background-color: transparent;
}

.expanded {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
}

.header-video-box {
    background-color: teal;
    padding: 20px;
    max-height: auto;
    min-width: 840px;
    min-height: 490px;
}

.video-container {
    object-fit: contain;
    background-color: black;
    display: flex;
    margin: auto;
    height: auto;
    width: auto;
    max-width: 70%;
    max-height: 90%;
}

.video-container video {
    object-fit: contain;
    width: 800px;
    height: 450px;
    display: block;
    margin: auto;
    background-color: transparent;
}
