/*
=============== 
Variables
===============
*/
:root {

}

*,
::after,
::before {
  box-sizing: border-box;
  background-color: white;
}


/*
=============== 
Main
===============
*/
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 1rem;
  background-color: white;
}

.display-game-img {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
}

h3 {
    text-align: center;
}

.game-info-section {
    margin: auto;
    background-color: white;
    text-align: center;
}

.form-control {
    display: flex;
}

.form-control input {
    flex-grow: 1;
    padding: 5px;
    margin: 5px;
}

.form-control button {
    padding: 5px;
    margin: 5px;
    background-color: lightblue;
}

.game-info-container {
    
}